<h1>SAVED ARTICLES</h1>

<ul>
  {{#each article}}
    {{#if saved}}
      {{> articles/articles-saved}}
    {{/if}}
  {{/each}}
</ul>



<!-- <div id="comments-modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
    </div>
  </div>
</div> -->

<div id= "comments-modal" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Comments</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div id="body-input" class="form-group">
            <label for="message-text" class="form-control-label">Comment:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="comment-submit" type="button" class="btn btn-primary">Post Comment</button>
      </div>
      <div class="modal-footer">
        <!-- Input previous comments here -->
        <ul style="text-align:center">
          {{#each article}}
            {{#if note}}
              {{note.body}} </br>
            {{/if}}
          {{/each}}

        </ul>
      </div>
    </div>
  </div>
</div>