<div data-id={{this.id}} class="articles">

  <a href={{link}} target="_blank"><h1>{{this.title}}</h1></a>
  <h3>{{summary}}</h3>
</a>
<button type = "notes" style= "min-width: 100%" data-toggle="modal" data-target="#comments-modal" class= "btn btn-outline-info"><h4>Add Note</h4></button>
</div>